<div class="d-flex align-items-center justify-content-center">
    <h1></h1>
</div>

<div class="d-flex align-items-center justify-content-center">
   <%= image_tag("bar_novella.jpg", :alt => "book cover", style: 'height:100%;width:auto;', id: "book-image") %>

   <p><br>"It's a novella in which, more or less, nothing happens, <br>and yet it is also distinctive, memorable, and compelling..." <em>-Neon Books</em> <br><br>

    Download a free pdf of the novella <%= link_to "here", asset_path("/bar_rich_hoyt.pdf"), target: '_blank'%>.<br><br>
    

    Prefer playing games to reading? Play a video game adaption of the book I coded up <%= link_to "here", games_path %>.</p>
</div><br>
