<div class="d-flex align-items-center justify-content-center">
    <h1></h1>
</div>

<div class="d-flex align-items-center justify-content-center">
   <%= image_tag("bar_novella.jpg", :alt => "book cover", style: 'height:100%;width:auto;', id: "book-image") %>

   <p><br>"It's a novella in which, more or less, nothing happens, <br>and yet it is also distinctive, memorable, and compelling..." <em>-Neon Books</em> <br><br>

    Download a free pdf of the novella <a href='#'>here</a>.<br><br>

    Prefer playing games to reading? Play a video game adaption of the book I coded up <a href='#'>here</a>.</p>
</div><br>

<!-- /Users/richardhoyt/personal_website/personal_website/app/views/writing/index.html.erb -->