<div class="d-flex align-items-center justify-content-center">
    <h1 id="homepage-label"> <strong>agiantbird™</strong> files and miscellany</h1>
</div>

<div class="coffe-stain">
    <%= image_tag("coffee_ring.png", :alt => "coffee stain", id: "coffee-ring") %>
</div>