<div class="d-flex align-items-center justify-content-center">
	<p>Here is a vanilla JavaScript + HTML game adaptation of an <%= link_to "absurdist novella", writing_path %> I wrote.</p>
</div>

<div class="d-flex align-items-center justify-content-center">
	<p> Play game in its own browser tab <a href="https://agiantbird.github.io/bar_the_game" target="_blank">here</a>. Source code <a href="https://github.com/agiantbird/bar_the_game" target="_blank">here</a>.</p>
</div>


<div class="d-flex game-embed align-items-center justify-content-center">
	<iframe id="innerdiv" src="https://agiantbird.github.io/bar_the_game/index.html" width="70%" height="650px" frameborder="0" scrolling="no"></iframe>
</div>

