<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to the Games page</h1>
</div>

<div class="d-flex game-embed align-items-center justify-content-center">
	<iframe id="innerdiv" src="https://agiantbird.github.io/bar_the_game/index.html" width="70%" height="650px" frameborder="0" scrolling="no"></iframe>
</div>