<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to the Music page</h1>
</div>

<div>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
    <p> here is more content </p>
</div>