<div class="d-flex align-items-center justify-content-center">
    <h1></h1>
</div>

<div class="d-flex align-items-center justify-content-center">
	<iframe id="music-player" style="border: 0; width: 690px; height: 345px;" src="https://bandcamp.com/EmbeddedPlayer/album=1205570937/size=large/bgcol=ffffff/linkcol=e99708/artwork=small/transparent=true/" seamless><a href="https://richhoyt.bandcamp.com/album/frantic-meditatively">Frantic (meditatively) by Rich Hoyt</a></iframe><br>

    <p><br>Passing some time recording music at home<br><br>

    Please enjoy my latest EP here on the left<br><br>

    Stream/Download hundreds more songs free at<br> <a href="https://richhoyt.bandcamp.com/">https://richhoyt.bandcamp.com/</a></p>
</div>

