<div class="about-outer-div">
	<div class="about-text-div">
		<div class="about-text-content">
			<p> rich hoyt built all the stuff on this website</p>

			<p> and the website </p>

			<p> <a href="https://twitter.com/agiantbird" target="_blank">twitter</a> | <a href="https://github.com/agiantbird" target="_blank">github</a> | <a href="https://www.linkedin.com/in/rich-hoyt-a1657a64/" target="_blank">linkedin</a> </p>
		</div>
	</div>
	<%= render partial: "about/ascii_portrait" %>
</div>
