/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
 	background-color: #F1F1F1 !important;
 }

.nav-tabs-color {
	background-color: #F1F1F1;
}

.nav-tab {
	background-color: #F8D775;
	color: black !important;
	/*text-decoration: none;*/
}

body {
	background-color: #FFE9A2;
	width: 90%;
  margin: 5%;
}

html, body {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}

body > * {
  flex-shrink: 0;
}

.container {
	height: 100% !important;
}

.nav-item {
	color: black !important;
}

a.nav-link {
	color: black !important;
}

.nav-link.active {
	background-color: #FFE9A2 !important;
	color: black !important;
	/*text-decoration: none;*/
}








