 * {
 	font-family: 'Courier New', Arial, Helvetica, sans-serif;
 }

 html {
 	background-color: #c0c3c7 !important;
 }

.nav-tabs-color {
	background-color: #c0c3c7;
	border-color: transparent !important;
}

.nav-tab {
	border-radius: 10px 10px 0px 0px;
	background-color: #F8D775;
	color: black !important;
}

body {
	background-color: #FFE9A2;
	width: 90%;
  margin: 5%;
  border-radius: 0px 10px 10px 10px;
}

html, body {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}

body > * {
  flex-shrink: 0;
}

.container {
	height: 90% !important;
}

.nav-item {
	color: black !important;
}

a.nav-link {
	color: black !important;
}

.nav-link.active {
	border-radius: 10px 10px 0px 0px;
	background-color: #FFE9A2 !important;
	border-color: transparent !important;
	color: black !important;
}

.d-flex.game-embed.align-items-center.justify-content-center {
	padding-bottom: 20px !important;
}

#homepage-label {
	/*font-family: 'Courier New', Arial, Helvetica, sans-serif;*/
	font-family: 'Big Shoulders Stencil Text', cursive;
	font-size: 60px;
	padding-top: 15%;
	transform: rotate(-11deg);
}

#homepage-label strong {
	font-family: 'Big Shoulders Stencil Text', cursive;
	color: #7C0D0E;
	font-size: 60px;
	/*font-family: 'Courier New', Arial, Helvetica, sans-serif;*/
	padding-top: 15%;
	transform: rotate(-11deg);
}

#music-player {
	padding-top: 35px;
	padding-right: 25px;
}

#book-image {
	padding-top: 35px;
	padding-right: 25px;
}





