 * {
 	font-family: 'Courier New', Arial, Helvetica, sans-serif;
 }

 html {
 	/*background-color: #c0c3c7 !important;*/
 	background-image: url("./background.jpg");
 }

.nav-tabs-color {
	/*background-color: #c0c3c7;*/
	background-image: url("./background.jpg");
	border-color: transparent !important;
}

.nav-tab {
	border-radius: 10px 10px 0px 0px;
	background-color: #F8D775;
	color: black !important;
	box-shadow: inset 1px 0 0 hsla(0,0%,0%,.3);
}

body {
	background-color: #FFE9A2;
	width: 90%;
  margin: 5%;
  border-radius: 0px 10px 10px 10px;
  background-image: linear-gradient(#FFE9A2, #F8D775);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  min-height: 100%;
}

html, body {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}

body > * {
  flex-shrink: 0;
}

.container {
	height: 90% !important;
}

.nav-item {
	color: black !important;
}

a.nav-link {
	color: black !important;
}

.nav-link.active {
	border-radius: 10px 10px 0px 0px;
	background-color: #F8D775 !important;
	border-color: transparent !important;
	color: black !important;
  background-image: linear-gradient(#FFE9A2, #F8D775);
  box-shadow: inset 0 0 2px hsla(0,0%,0%,.3);
  min-height: 105%;
}

.d-flex.game-embed.align-items-center.justify-content-center {
	padding-bottom: 20px !important;
}

#homepage-label {
	font-family: 'Big Shoulders Stencil Text', cursive;
	font-size: 65px;
	padding-top: 15%;
	transform: rotate(-11deg);
	opacity: 0.4;
}

#homepage-label strong {
	font-family: 'Big Shoulders Stencil Text', cursive;
	color: #7C0D0E;
	font-size: 65px;
	padding-top: 15%;
	transform: rotate(-11deg);
}

#music-player {
	padding-top: 35px;
	padding-right: 25px;
}

#book-image {
	padding-top: 35px;
	padding-right: 25px;
}

#coffee-ring {
    position: relative;
    width: 270px;
    height: 270px;
    padding-bottom: 0px;
    left: 150px;
    bottom: 100px;
    opacity: 0.6;
}
